{% extends 'common.html' %}
    {% block title %} Contact Us {% endblock %}

    {% block css %}
    {% endblock %}

    {% block body %}


    <center><h2 class="title is-2 mt-4">Contact Us <span class="subtitle is-3">for any query/problem</span></h2></center> <br>

    <div class="container mb-3 p-4 border border-3 rounded">
        <form action="/extra/sendprob" method="get"> {% csrf_token %}
            <div class="field">
                <label class="label">Your Name</label>
                <div class="control"><input type="text" name="fname" class="input" value="{{fname}}" placeholder="Name"></div></div>
            <div class="field">
                <label class="label">Email Address</label>
                <div class="control"><input type="email" name="email" class="input" value="{{email}}" placeholder="Email"></div></div>
            <div class="field">
                <label class="label">Subject</label>
                <div class="control"><input type="text" name="header" class="input" placeholder="Subject"></div></div>
            <div class="form-floating field">
                <label for="floatingTextarea" class="label">Describe your Problem Here</label>
                <textarea type="text" name="desc" class="input" placeholder="Type Your Query Here" id="floatingTextarea" style="height: 100px"></textarea>
                </div>
            <div class="control">
                <button style="background-color:#219ebc;color:white;" type="submit" class="button"><b>Submit</b></button>
            </div>
        </form>
    </div>

    {% endblock %}

    {% block js %}
    {% endblock %}