<form method="post" action="/anastomosis/submit/{{quiz_id}}">
    <input type="hidden" name="reg_id" value="{{reg_id}}">

    {% for qans in question_list %}

        Question:{{qans.question.question_detail}}       Marks:{{qans.question.marks}}
            <image src="{{qns.question.image}}">

        Answer:
        {% if qans.question.choices %}
            Select any one option
            {% for choice in qans.choices %}
                <input type="select" name="{{qans.question.qid}}">{{choice}}
            {% endfor %}

        {% elif qans.question.short_answer %}
            Short answer
            <input type="text" name="{{qans.question.qid}}">

        {% elif qans.question.numerical %}
            Integer value
            <input type="Integer" name="{{qans.question.qid}}">

        {% endif %}

    {% endfor %}

</form>