{% extends 'common.html' %}
{% load static %}
    {% block title %} FRYUMS {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" href={% static 'journal/curates.css' %}>
    {% endblock %}

    {% block body %}


        {% comment %} <h2>FRYUMS</h2>
            {% for fryum in fryums %}
                <section class="fryum">
                    <image src="/media/{{fryum.fryum.image}}"> <br>
                    <h3>FRYUMS Name : {{fryum.fryum.title}} </h3>
                    About FRYUMS : {{fryum.fryum.description}} <br>
                    On : {{fryum.fryum.live_date}} <br>
                    --by {{fryum.fryum.author}} <br>
                    More about author : {{fryum.fryum.abt_author}} <br>
                    
                    {% if fryum.links %}
                        <h4>Links for FRYUMS platform </h4>
                        {% for link in fryum.links %}
                            <a href="{{link.link}}">{{link.site}}-></a> <br>
                        {% endfor %}
                    {% endif %}
                </section>
            {% endfor %} {% endcomment %}

<br><br>
    <section class="container">
        <div class="columns features">
        {% for fryum in fryums %}
        <div class="column is-4">
            <div class="card is-shady">
            <div class="card-image">
                <figure class="image is-4by3">
                <img src="/media/{{fryum.fryum.image}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                <h4>{{fryum.fryum.title}}</h4>
                <p>{{fryum.fryum.description|truncatechars:100}}</p>
                <span class="button is-link modal-button" data-target="modal-card-{{fryum.fryum.uid}}">Read More</span>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    {% for fryum in fryums %}
    <div id="modal-card-{{fryum.fryum.uid}}" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
            <div class="card-image">
            <figure class="image is-4by3">
                <img src="/media/{{fryum.fryum.image}}" alt="Placeholder image">
            </figure>
            </div>
            <div class="card-content">
            <div class="media">
                <div class="media-content">
                <p class="title is-4">{{fryum.fryum.title}}</p>
                <p class="subtitle is-6">@{{fryum.fryum.author}}<br>&nbsp;&nbsp;&nbsp;&nbsp;"{{fryum.fryum.abt_author}}"</p>
                </div>
            </div>
            <div class="content">{{fryum.fryum.description}}<br>
                {% if fryum.links %}
                    <h4>Links =></h4><br>
                    {% for link in fryum.links %}
                        <a href="{{link.link}}">{{link.site}}-></a> <br>
                    {% endfor %}
                {% endif %}
            </div>
            </div>
        </div>
        <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endfor %}
<br><br>

    {% endblock %}

    {% block js %}
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>  
    {% endblock %}