{% extends 'common.html' %}
    {% block title %} FRYUMS {% endblock %}

    {% block css %}
    {% endblock %}

    {% block body %}


        <h2>FRYUMS</h2>
            {% for fryum in fryums %}
                <section class="fryum">
                    <image src="/media/{{fryum.fryum.image}}"> <br>
                    <h3>FRYUMS Name : {{fryum.fryum.title}} </h3>
                    About FRYUMS : {{fryum.fryum.description}} <br>
                    On : {{fryum.fryum.live_date}} <br>
                    --by {{fryum.fryum.author}} <br>
                    More about author : {{fryum.fryum.abt_author}} <br>
                    
                    {% if fryum.links %}
                        <h4>Links for FRYUMS platform </h4>
                        {% for link in fryum.links %}
                            <a href="{{link.link}}">{{link.site}}-></a> <br>
                        {% endfor %}
                    {% endif %}
                </section>
            {% endfor %}


    {% endblock %}

    {% block js %}{% endblock %}