{% extends 'common.html' %}

{% block title %}{{fest.title}}{% endblock %}

{% block body %}

    Title : {{fest.title}}<br>
    Description : {{fest.desc}}<br>
    <img src="{{fest.fest_img}}"><br><br>

    {% if workshops %}
        Workshops =><br>
        <form method="post" action="/insight/workshop/register/">{% csrf_token %}
            {% for ws in workshops %}
                {{ws.title}}<br>
                {{ws.desc}}<br>
                Price : {{ws.price}}<br>
                <img src="{{ws.img}}"><br>
                {{ws.ws_time}}<br>
                {% if ws.reg_link %}
                    <a href="{{ws.reg_link}}">Register Externally</a>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="workshop" value="{{ws.title}}" id="workshop">
                    <label class="form-check-label" for="workshop">
                        Select To Register
                    </label><br>
                {% endif %}
            {% endfor %}
            <button type="submit">Register For Selected Workshops</button><br>
        </form><br>
    {% endif %}


    {% if events %}
        Events And Competitions =><br>
        <form method="post" action="/insight/event/register/">{% csrf_token %}
            {% for ev in events %}
                {{ev.title}}<br>
                {{ev.desc}}<br>
                Price : {{ev.price}}<br>
                <img src="{{ev.img}}"><br>
                {{ev.event_time}}<br>
                {% if ev.reg_link %}
                    <a href="{{ev.reg_link}}">Register Externally</a>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="event" value="{{ev.title}}" id="event">
                    <label class="form-check-label" for="event">
                        Select To Register
                    </label><br>
                {% endif %}
            {% endfor %}
            <button type="submit">Register For Selected Events</button><br>
        </form><br>
    {% endif %}


{% endblock %}