{% extends 'common.html' %}

{% block title %}Insight{% endblock %}

{% block body %}
    <h2>All Insight =></h2>
    {% for fest in fests %}
        {% if forloop.counter == 1 %}
            <!-- Special Display For Latest Insight -->
            <h3>Starts On {{fest.start}} :)</h3>
            {{fest.title}}<br>
            {{fest.desc}}<br>
            <img src="/media/{{fest.fest_img}}"><br>
            <a href="/insight/{{fest.id}}">Check Now !!</a>
        {% else %}
            <h3>{{fest.title}}</h3>
            {{fest.desc}}<br>
            <img src="/media/{{fest.fest_img}}"><br>
            {{fest.start.date}} {{fest.start.time}}<br>
            <a href="/insight/{{fest.id}}">Check Now !!</a>
        {% endif %}
    {% endfor %}

{% endblock %}