{% extends 'common.html' %}
    {% block title %} MedQuiz View {% endblock %}

    {% block css %}
    {% endblock %}

    {% block body %}


    <h2 class="title is-2">{{quiz_name}}</h2><br>
    <div class="container">
        <form method="post" action="/medquiz/submit/{{quiz_id}}"> {% csrf_token %}
            <input type="hidden" name="reg_id" value="{{reg_id}}">

            {% for qans in question_list %}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Question {{forloop.counter}}: {{qans.question.question_detail}}
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        {{qans.question.marks}}
                      </span>
                    </button>
                </header>
                {% comment %} Question {{forloop.counter}}:{{qans.question.question_detail}}       Marks:{{qans.question.marks}}<br> {% endcomment %}
                {% if qans.question.image %}
                <div class="card-image">
                    <figure class="image is-5by3">
                        <image src="/media/{{qans.question.image}}" >
                    </figure>
                </div>
                {% endif %}

                {% if qans.question.choices %}
                    <div class="field">
                        Select any one option
                        {% for choice in qans.choices %}
                            <label class="checkbox" for="defaultCheck1">
                                <input type="checkbox" type="checkbox" name="{{qans.question.qid}}" id="defaultCheck1" value="{{choice.option}}">
                                {{choice.option}}
                            </label>
                            {% comment %} <input class="form-check-input" type="checkbox" name="{{qans.question.qid}}" id="defaultCheck1" value="{{choice.option}}">
                            <label class="form-check-label" for="defaultCheck1">
                                {{choice.option}}
                            </label> {% endcomment %}
                        {% endfor %}
                    </div>

                {% elif qans.question.short_answer %}
                    <div class="field">
                        Short answer
                        <textarea class="textarea" placeholder="Short Answer" name="{{qans.question.qid}}"></textarea>
                        {% comment %} <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="{{qans.question.qid}}"></textarea> {% endcomment %}
                    </div>

                {% elif qans.question.numerical %}
                    <div class="field">
                        Integer value
                        <input class="input is-normal" placeholder="Integer Value" type="Integer" name="{{qans.question.qid}}">
                        {% comment %} <input type="Integer" name="{{qans.question.qid}}"> {% endcomment %}
                    </div>

                {% elif qans.question.true_false %}
                    <div class="field">
                        True Or False Question
                        <div class="select">
                            <select name="{{qans.question.qid}}">
                                <option value="None" selected>Select True Or False</option>
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                        {% comment %} <select class="form-select" name="{{qans.question.qid}}" aria-label="Default select example">
                            <option value="None" selected>Select True Or False</option>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select> {% endcomment %}
                    </div>

                {% elif qans.question.matchup %}
                    <div class="field">
                        Match The Following<br>Enter the corresponding value for the following<br>
                        {% for num in qans.iter %}
                            {{num|add:"1"}} -><input class="input is-normal" type="text" name="{{qans.question.qid}}_{{num|add:"1"}}"><br>
                             {% comment %} <input type="text" name="{{qans.question.qid}}_{{num|add:"1"}}">  {% endcomment %}
                        {% endfor %}
                    </div>

                {% endif %}
                <br>
            </div>
            {% endfor %}
            <button class="button is-light" type="submit">Submit</button>

        </form>
    </div>

    {% endblock %}

    {% block js %}{% endblock %}