{% extends 'common.html' %}
{% block title %}Hackathon{% endblock %}

{% block css %}{% endblock %}

{% block body %}

    Hackathon Details =><br>
    Title : {{hack.name}}<br>
    Description : {{hack.desc}}<br>
    {% if hack.poster %}
        <img src="/media/{{hack.poster}}" height=200 width=200><br>
    {% endif %}
    Registration Price : {{hack.reg_price}}<br>
    Maximum Members : {{hack.team_cnt}}<br>

    {% if hack.show_topics %}
        Topics :<br>
        {% for topic in hack.topics.all %}
            {{forloop.counter}}) {{topic.title}}<br>
            {{topic.desc}}<br>
        {% endfor %}
    {% endif %}
    {% if hack.sponsors %}
        Sponsors : <br>
    {% endif %}
    {% for sponsor in hack.sponsors.all %}
        {{sponsor.name}}<br>
        <img src="/media/{{sponsor.logo}}" height=100 width=100><br>
    {% endfor %}

    {% if hack.hack_live %}
        {% if hack.on_web %}
            <form method="post" action="/edc/hackathon/submit/{{hack.id}}">{% csrf_token %}
                <div class="form-group">
                    <label for="gitrepo">Github Repository Link with Readme File</label>
                    <input type="text" class="form-control" name="gitrepo" id="gitrepo" placeholder="github.com/User/Repo">
                </div>
                <div class="form-group">
                    <label for="hostweb">Live Website URL (if any)</label>
                    <input type="text" class="form-control" name="hostweb" id="hostweb" placeholder="http://weburl.com">
                </div>
                <div>
                    <label for="formFileLg" class="form-label">Zip File</label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file" name="files">
                </div>
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <a href="{{hack.hack_or_reg_link}}">Submit -></a><br>
        {% endif %}
    {% endif %}

    {% if prev_reg and hack.reg_open %}
        You have registered for this hackathon :)<br>
    {% elif hack.reg_open %}
        Not Registered Yet?<br>
        {% if hack.on_web %}
            {% if user.is_authenticated %}
                <form method="post" action="/edc/hackathon/register/{{hack.id}}">{% csrf_token %}
                    <label for="leadname" class="col-sm-2 col-form-label">Leader Name</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="leadname" value="{{user.first_name}} {{user.last_name}}">
                    </div>
                    <label for="leadmail" class="col-sm-2 col-form-label">Leader Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="leadmail" name="leadmail" value="{{user.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="teamname" class="form-label">Team Name</label>
                        <input type="text" name="teamname" class="form-control" id="teamname" placeholder="Team_Name">
                    </div>
                    {% for i in members %}
                        <div class="mb-3 row">
                            <label for="member" class="col-sm-2 col-form-label">Member {{i|add:"1"}}</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="member" name="member">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="mebmail" class="col-sm-2 col-form-label">Member {{i|add:"1"}} Email</label>
                            <div class="col-sm-10">
                            <input type="email" class="form-control" id="mebmail" name="mebmail">
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit">Register</button><br>
                </form>
            {% else %}
                Kindly Login To Register....<br> 
            {% endif %}
        {% else %}
            <a href="{{hack.hack_or_reg_link}}">Register Now -></a><br>
        {% endif %}
    {% endif %}


    {% if results %}
        <br>Results =><br>
        {% for result in results %}
            {{result.position}} -> {{result.submission.team.team_name}}
        {% endfor %}
        <br> Kindly mail to scisoc_email from your registered ids to claim the rewards
    {% endif %}


{% endblock %}