{% extends 'common.html' %}
    {% block title %} Gallery {% endblock %}
    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'gallery.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% endblock %}

    {% block body %}


        {% comment %} {% for img in images %}
            <div>
                <image id="{{img.hidden_title}}" src="/media/{{img.image}}" height=200 width=200><br>
                {{img.hidden_title}} <br> {{img.upload_date}}
                </div>
        {% endfor %} {% endcomment %}
    <div class="grid-wrapper">
        {% for img in images %}
            {% if img.size_big %}
            <div class="big images">
                <img src="/media/{{img.image}}?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80" class="thumbnail" alt="" />
                <div class="text">
                    <p>{{img.hidden_title}}</p>
                </div>
            </div>
            {% elif img.size_normal %}
                <div class="images">
                    <img src="/media/{{img.image}}?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" class="thumbnail" alt="" />
                    <div class="text">
                        <p>{{img.hidden_title}}</p>
                    </div>
                </div>
            {% elif img.size_tall %}
                <div class="images tall">
                    <img src="/media/{{img.image}}?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" class="thumbnail" alt="">
                    <div class="text">
                        <p>{{img.hidden_title}}</p>
                    </div>
                </div>
            {% elif img.size_wide %}
                <div class="images wide">
                    <img src="/media/{{img.image}}?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="thumbnail" alt="" />
                    <div class="text">
                        <p>{{img.hidden_title}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% endblock %}

    {% block js %}{% endblock %}