{% extends 'common.html' %}
    {% block title %} Homepage {% endblock %}

    {% block css %}
    {% endblock %}

    {% block body %}


        <h2>Our Team </h2>
        {% for member in team %}
            <image src="{{member.image}}"> <br>
            Name : {{member.user.first_name}} {{member.user.last_name}} <br>
            Position : {{member.position}} <br>
            About : {{member.description}} <br>
        {% endfor %}
        <br>

        <h2>Latest News </h2>
        {% for news in latest %}
            {% if news.important %}
                <div class="card-golden">
                    <a href="{{news.link}}">Title : {{news.title}}</a> <br>
                    Description : {{news.description}} <br>
                    Date : {{news.upload_date}} <br>
                    {% if news.image %}
                        <image src="/media/{{news.image}}" height=80 width=80> <br>
                    {% endif %}
                </div>
            {% else %}
                <div class="card">
                    <a href="{{news.link}}">Title : {{news.title}}</a> <br>
                    Description : {{news.description}} <br>
                    Date : {{news.upload_date}} <br>
                    {% if news.image %}
                        <image src="/media/{{news.image}}" height=80 width=80> <br>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}


    {% endblock %}

    {% block js %}{% endblock %}