.dev-heading{
    font-size: 3rem;
    color: white;
font-family: 'Domine',serif;
letter-spacing: 0.2px;
margin: 10px auto 30px auto;
}
.dev{
min-height: 100vh;
}
.card-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card1 img{
    width: 275px;
    height: 275px;
    border-radius:5px;
}
.card1{
    border-radius: 10px;
    width: 350px;
    height: 450px;
    background: rgba(255, 255, 255, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.541);
color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato','serif';
    margin: 10px 5px 20px 5px;
}
.card1 h2{
    font-size: 1.5rem;
    margin: 15px auto 10px auto;
    font-weight: 400;
}
.card1 h3{
    font-size: 1rem;
    font-weight: 200;
    margin: 0 auto 15px auto;
}
.social-ic img{
    width: 30px;
    height: 30px;
}
.social-ic{
    width: 150px;
    display: flex;
    justify-content: space-around;
}