<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return and Refunds Policy</title>

</head>

<body style="padding:0 20px;">
    <h1>Return and Refund Policy</h1>
    <p>Last updated: March 27, 2023</p>
    <p>Thank you for your purchase at Scientific Society AIIMS delhi.</p>
    <p>The following terms are applicable for any products that You purchased with Us.</p>
    <h1>Interpretation and Definitions</h1>
    <h2>Interpretation</h2>
    <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The
        following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
    </p>
    <h2>Definitions</h2>
    <p>For the purposes of this Return and Refund Policy:</p>
    <ul>
        <li>
            <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot;
                or &quot;Our&quot; in this Agreement) refers to AIIMS Student Association, Student's Union office, AIIMS
                hostel 1, Ansari nagar.</p>
        </li>
        <li>
            <p><strong>Goods</strong> refer to the items offered for sale on the Service.</p>
        </li>
        <li>
            <p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p>
        </li>
        <li>
            <p><strong>Service</strong> refers to the Website.</p>
        </li>
        <li>
            <p><strong>Website</strong> refers to Scientific Society AIIMS delhi, accessible from <a
                    href="https://scisocaiims.org/" rel="external nofollow noopener"
                    target="_blank">https://scisocaiims.org/</a></p>
        </li>
        <li>
            <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal
                entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
        </li>
    </ul>
    <h1>Your Order Cancellation Rights</h1>
    <p>You are entitled to cancel Your Order within 14 days without giving any reason for doing so.</p>
    <p>The deadline for cancelling an Order is 14 days from the date on which You received the Goods or on which a third
        party you have appointed, who is not the carrier, takes possession of the product delivered.</p>
    <p>In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear
        statement. You can inform us of your decision by:</p>
    <ul>
        <li>By email: scientificsocietyaiims@gmail.com</li>
    </ul>
    <p>We will reimburse You no later than 14 days from the day on which We receive the returned Goods. We will use the
        same means of payment as You used for the Order, and You will not incur any fees for such reimbursement.</p>
    <h1>Conditions for Returns</h1>
    <p>In order for the Goods to be eligible for a return, please make sure that:</p>
    <ul>
        <li>The Goods were purchased in the last 14 days</li>
        <li>The Goods are in the original packaging</li>
    </ul>
    <p>The following Goods cannot be returned:</p>
    <ul>
        <li>The supply of Goods made to Your specifications or clearly personalized.</li>
        <li>The supply of Goods which according to their nature are not suitable to be returned, deteriorate rapidly or
            where the date of expiry is over.</li>
        <li>The supply of Goods which are not suitable for return due to health protection or hygiene reasons and were
            unsealed after delivery.</li>
        <li>The supply of Goods which are, after delivery, according to their nature, inseparably mixed with other
            items.</li>
    </ul>
    <p>We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our
        sole discretion.</p>
    <p>Only regular priced Goods may be refunded. Unfortunately, Goods on sale cannot be refunded. This exclusion may
        not apply to You if it is not permitted by applicable law.</p>
    <h1>INSIGHT'23</h1>
    <p style="line-height: 25px;">1. No refunds are warranted for any reasons for the following events: <br>
        &emsp; a. Palpable Thrills (Lite, Junior & Senior)<br>
        &emsp; b. MedHackathon<br>
        &emsp; c. Lumos<br>
        &emsp; d. Oral Paper & Poster Presentation<br>
        2. For queries on cancellation and refunds, kindly email your invoice with a suitable explanation for absence to
        help.insightaiims@gmail.com, all such queries will only be handled through email.<br>
        3. Till April 7th, 2023 - full refund (100%) of booking amount would be provided in case of a valid explanation
        for request of such cancellation.<br>
        4. From April 8th to April 14th 2023 - partial refund (50%) of booking amount would be provided in case of a
        valid explanation for request of such cancellation.<br>
        5. From April 15th to April 22nd 2023 - partial refund (20%) of booking amount would be provided in case of a
        valid explanation for request of such cancellation.<br>
        6. From April 23rd to April 26th - partial refund (10%) of booking amount would be provided in case of a valid
        explanation for request of such cancellation.<br>
        7. No refunds would be provided for cancellation after April 13th.<br>
        8. In cases of ambiguity, the decision of the INSIGHT Organizing Committee (IOC) will be final and binding.
    </p>
    <h2>Contact Us</h2>
    <p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
    <ul>
        <li>By email: scientificsocietyaiims@gmail.com</li>
    </ul>

</body>

</html>