{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - SciSoc</title>
    <link rel="stylesheet" href="{% static 'assets2/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets2/css/untitled.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo&family=Averia+Serif+Libre:wght@400;700&family=Playfair+Display:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href={% static 'styles.css' %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <nav class="navbar " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a>
            <img id="img" width="80" src={% static 'images/logo.png' %}>
          </a>
    
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              Home
            </a>
    
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Journal Club
              </a>
    
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/journal/curates/">
                  Curater
                </a>
                <a class="navbar-item" href="/journal/fryums/">
                  FRYUMS
                </a>
                <a class="navbar-item" href="/journal/twcaos/">
                  TWCAOS
                </a>
                <a class="navbar-item" href="/journal/curates/">
                  Critical Appraisal
                </a>
              </div>
            </div>
            <a href="/edc/" class="navbar-item">
              eDC
            </a>
            <a class="navbar-item" href="/medquiz/">
              Medquiz
            </a>
            <a class="navbar-item" href="/insight/">
              INSIGHT
            </a>
            <a href="/anastomosis/" class="navbar-item">
              Anastomosis
            </a>
            <a class="navbar-item" href="/gallery/">
              Gallery
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Help
              </a>
    
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/extra/faqs/">
                  FAQs
                </a>
                <a class="navbar-item" href="/extra/contact/">
                  Contact Us
                </a>
              </div>
            </div>
          </div>
      </nav>
    {% if user.is_authenticated %}
    <h2 class="fw-bold">You Are Already Logged In </h2>
    {% else %}
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Login</p>
                    <h2 class="fw-bold">Welcome back</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg></div>
                            <form method="post" action="/user/login/"> {% csrf_token %}
                                <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                                <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Log in</button></div>
                                <a class="text-muted" href="/">Forgot your password?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endif %}
    <script src="{% static 'assets2/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets2/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'assets2/js/bold-and-bright.js' %}"></script>
    <script src="{% static 'assets2/js/Lightbox-Gallery.js' %}"></script>
</body>

</html>